.some_block 
	.some_element.js-fade-item
		//- any content here
		//- animation wil be play with default configuration

	.some_element.js-fade-item(data-fade-duration=0.5 data-fade-direction='left')
		//- any content here
		//- data-attributes will set custom configuration of animation

				
		//- List of available data attributes:

			//--- data-fade-trigger ---// set the trigger for animation
			//--- data-fade-start ---// set the start point for animation
			//--- data-fade-duration ---// set the duration of animation
			//--- data-fade-ease ---// set the ease of animation
			//--- data-fade-direction ---// set the direction of movement element during fade
			//--- data-element-start-position ---// set the start position of fade element
			//--- data-element-end-position ---// set the end position of fade element