$input_placeholder_color: grey;

.ts-wrapper {
	display: block;
	width: 100%;

	&.dropdown-active {
		.ts-dropdown {
			animation: fadeIn 0.3s ease-in-out;
		}

		.ts-control::after {
			transform: rotateX(-180deg) translateY(50%);
		}
	}

	.ts-control {
		position: relative;
		font-size: 1.8rem;

		&::after {
			content: '';
			position: absolute;
			top: 50%;
			right: 1rem;
			transform: translateY(-50%);

			width: 2rem;
			height: 2rem;

			background-position: center center;
			background-size: contain;
			background-repeat: no-repeat;
			background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPCEtLSBVcGxvYWRlZCB0bzogU1ZHIFJlcG8sIHd3dy5zdmdyZXBvLmNvbSwgR2VuZXJhdG9yOiBTVkcgUmVwbyBNaXhlciBUb29scyAtLT4NCjxzdmcgZmlsbD0iIzAwMDAwMCIgaGVpZ2h0PSI4MDBweCIgd2lkdGg9IjgwMHB4IiB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiANCgkgdmlld0JveD0iMCAwIDMzMCAzMzAiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggaWQ9IlhNTElEXzIyNV8iIGQ9Ik0zMjUuNjA3LDc5LjM5M2MtNS44NTctNS44NTctMTUuMzU1LTUuODU4LTIxLjIxMywwLjAwMWwtMTM5LjM5LDEzOS4zOTNMMjUuNjA3LDc5LjM5Mw0KCWMtNS44NTctNS44NTctMTUuMzU1LTUuODU4LTIxLjIxMywwLjAwMWMtNS44NTgsNS44NTgtNS44NTgsMTUuMzU1LDAsMjEuMjEzbDE1MC4wMDQsMTUwYzIuODEzLDIuODEzLDYuNjI4LDQuMzkzLDEwLjYwNiw0LjM5Mw0KCXM3Ljc5NC0xLjU4MSwxMC42MDYtNC4zOTRsMTQ5Ljk5Ni0xNTBDMzMxLjQ2NSw5NC43NDksMzMxLjQ2NSw4NS4yNTEsMzI1LjYwNyw3OS4zOTN6Ii8+DQo8L3N2Zz4=);

			transform-origin: center;
			transition: transform .3s ease;
		}

		input {
			&::-webkit-input-placeholder {
				color: $input_placeholder_color;
			}

			&::-moz-placeholder {
				color: $input_placeholder_color;
				opacity: 1;
			}

			&:-ms-input-placeholder {
				color: $input_placeholder_color;
			}
		}
	}

	.option {
		font-size: 1.6rem;
		text-align: left;
		color: #000;

		transition: background .3s ease, color .3s ease;

		&.selected,
		&.selected.active {
			background-color: #1164d8;
			color: #fff;
		}

		&.active:not(.selected) {
			background-color: #000;
			color: #fff;
		}
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}