@mixin transition_all {
	transition: all 0.3s ease;
	will-change: transform;
}

@mixin transition_opacity {
	transition: opacity 0.3s ease;
	will-change: opacity;
}

@mixin transition_background {
	transition: background 0.3s ease;
	will-change: background;
}

@mixin transition_color {
	transition: color 0.3s ease;
	will-change: color;
}

@mixin transition_color_background {
	transition: color 0.3s ease, background 0.3s ease;
	will-change: color, background;
}

@mixin transition_transform {
	transition: transform 0.3s ease;
	will-change: transform;
}

@mixin tranisition_fill {
	transition: fill 0.3s ease;
	will-change: fill;
}
