mixin no_use(array)
	.no_use
//--------------------------------------------------------------global vars
- environment = environment || 'development'
- array = '';
- assetsImage = './images/';
//--------------------------------------------------------------forms


































//--------------------------------------------------------------private_vars
- _sitemap = ['article','index','ui'];