.form_quantity.js-quantity
	button.form_quantity__btn.js-quantity-decrease(type='button' aria-label='decrease quantity')
	input.form_quantity__input.js-quantity-input(type='number' name='quantity' min=min max=max value=min)
	.form_quantity__value.js-quantity-value= min
	button.form_quantity__btn.js-quantity-increase(type='button' aria-label='increase quantity')