//- without mod
+bread_crumbs({
	list: [
		{
			text: 'some text',
			url: "#"
		},
		{
			text: 'new page',
			url: "#"
		},
		{
			text:'current page',
			url: "#"
		}
	],
})

//- with mod
+bread_crumbs({
	list: [
		{
			text: 'some text',
			url: "#"
		},
		{
			text: 'new page',
			url: "#"
		},
		{
			text:'current page',
			url: "#"
		}
	],
	mod: 'mod'
})