@mixin h1 {
	font-size: 7.2rem;
	font-weight: 700;
}

@mixin h2 {
	font-size: 5.6rem;
	font-weight: 700;
}

@mixin h3 {
	font-size: 4rem;
	font-weight: 500;
}

@mixin h4 {
	font-size: 3.2rem;
}

@mixin h5 {
	font-size: 2.4rem;
}

@mixin h6 {
	font-size: 2rem;
}

@mixin text {
	font-size: 1.8rem;
}
// offsets

@mixin title_offset {
	margin-bottom: 2rem;
}
