@mixin form_el_label {
	display: block;
	margin-bottom: 0.4rem;

	font-size: 1.6rem;
	color: $black;
}

@mixin form_el_default {
	display: block;
	width: 100%;
	height: $input_height;
	padding: $input_offset;
	font-size: $input_font_size;
	font-family: $font_1;
	color: $input_text_color;
	caret-color: $input_text_color;
	box-shadow: inset 0 0 0 1px $input_border_color;
	border: none;
	background-clip: padding-box;
	border-radius: $input_radius;

	transition: box-shadow 0.3s ease 0s;
	will-change: box-shadow;

	&:hover,
	&:focus {
		box-shadow: inset 0 0 0 1px $input_border_color_active;
	}

	&::-webkit-input-placeholder {
		color: $input_placeholder_color;
	}

	&::-moz-placeholder {
		color: $input_placeholder_color;
		opacity: 1;
	}

	&:-ms-input-placeholder {
		color: $input_placeholder_color;
	}

	// HIDE USER ICON
	&::-webkit-contacts-auto-fill-button {
		visibility: hidden;
		position: absolute;
		right: 0;
	}

	&[type='search'] {

		// HIDE CLEAR ICON
		&::-ms-clear,
		&::-ms-reveal {
			display: none;
		}

		// HIDE SAFARI DEFAULT BROWSER DECORATIONS
		&::-webkit-search-decoration,
		&::-webkit-search-cancel-button,
		&::-webkit-search-results-button,
		&::-webkit-search-results-decoration {
			display: none;
		}
	}

	&[type='date'] {

		// HIDE CALENDAR ICON
		&::-webkit-calendar-picker-indicator {
			opacity: 0;
		}
	}

	@at-root {

		// CLEAR DEFAULT SAFARI BG
		select#{&} {
			-webkit-tap-highlight-color: transparent;
		}
	}

	@include appearance(none);
}