.some_block 
	.some_element.js-parallax-item
		//- any content here
		//- animation wil be play with default configuration

	.some_element.js-parallax-item(data-parallax-speed=100)
		//- any content here
		//- data-attributes will set custom configuration of animation

		//- List of available data attributes:

			//--- data-parallax-trigger ---// set the trigger for animstion
			//--- data-parallax-speed ---// set the number of pixels by which the element will be shifted
			//--- data-parallax-start ---// set the start point for animation
			//--- data-parallax-end ---// set the end point for animation