include ../templates/global-vars
include ../templates/global-mixins
include ../templates/mixins/m-header
include ../templates/mixins/m-footer

block vars
block project_vars

doctype
html(lang="en")
	head
		+head(array)
	body(class= array.body_class)
		.preloader
		+header
		.wrapper(class= array.layout_mod)
			.base(class= array.layout_mod)
				block content_block
			+footer
		block local_popup
		script(type="module" src='./js/app.js')
		//- script(type="module" src=`/src/js/pages/${array.template_name}.js`)
		+dev_widget
		+deploy_time