section.horizontal_wrap
	.horizontal.js-horizontal-scroll-wrap
		.horizontal_in.js-horizontal-scroll
			+loop_while(10)
				.horizontal__block
					p= i
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur incidunt velit cumque odio, nisi eligendi!
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur incidunt velit cumque odio, nisi eligendi!
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur incidunt velit cumque odio, nisi eligendi!
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur incidunt velit cumque odio, nisi eligendi!
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur incidunt velit cumque odio, nisi eligendi!
