include ../templates/mixins/m-popup

//- include this component to your page
//- block local_popup 
//- 	include ../blocks/popup

//- prop name uses as selector 'js-popup-[name]'
+popup('name')
	.your_popup Here is your popup 