// ----------------------------------------------------------

.accordion__item_body {
	color: #727272;
	font-weight: 400;

	// *
	// important style to work
	// *

	max-height: 0;
	opacity: 0;

	transition: all 0.25s ease-out;
	will-change: max-height;
	overflow: hidden;
	pointer-events: none;

	.accordion__item--active-mod & {
		opacity: 1;
		pointer-events: auto;
	}

	// *
	// important style to work /
	// *
}

// ----------------------------------------------------------

//---------------------------------------------accordion
.icon {
	&.size-mod {
		display: block;
		width: 100%;
		height: 100%;
	}
}

.accordion__item_head {
	@extend %global_flex_block_row_nowrap_flex-start_center;

	font-size: 1.6rem;
	font-weight: 700;
	border-bottom: 1px solid gray;
	cursor: pointer;

	transition: border-color 0.3s;

	.accordion__item_title {
		padding-right: 2rem;
	}

	&:focus,
	&:hover {
		color: red;
	}

	.accordion__item_icon_w {
		display: block;
		margin: 0 0 0 auto;
		width: 1.8rem;
		height: 0.8rem;

		transform-origin: center;
		transition: 0.3s;
		transform: rotateZ(180deg);

		.accordion__item--active-mod & {
			transform: rotateZ(0deg);
		}
	}

	.accordion__item--active-mod & {
		border-color: transparent;
	}
}

.accordion__item_body {
	font-size: 1.6rem;
}

.accordion__item_body_in {
	padding: 0.4rem 0 1rem;
}
