//- simple:
+picture({
	img: 'img_name.png',
	class: 'section_bg',
	img_class: 'section_bg__img',
})


//- full:
+picture({
	media: 1024,
	is2x: false,
	class: 'section_bg',
	img_class: 'section_bg__img',
	img: 'img_name.png',
	img_mob: 'mob_img_name.png',
	alt: 'Image description',
})
